# Server
SERVER_ADDR=:8080
ENV=dev

# Auth
JWT_SECRET=change_me
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/saas_platform?sslmode=disable
